aiohappyeyeballs
aiohttp==3.9.1
aiosignal
altair
altgraph
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout==4.0.3
attrs==23.2.0
auth0-python
Babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
build
cachetools
certifi==2023.11.17
cffi
charset-normalizer==3.3.2
chroma-hnswlib
chromadb
click==8.1.7
colorama
coloredlogs
comm
contourpy
crew
crewai
cryptography
cycler
dataclasses-json==0.6.3
debugpy
decorator
defusedxml
Deprecated
distro
docstring_parser
durationpy
einops
et_xmlfile
exceptiongroup
executing
fastapi
fastjsonschema
filelock
Flask==3.0.0
flatbuffers
fonttools
fqdn
frozenlist==1.4.1
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna==3.6
importlib_metadata
importlib_resources
instaloader
instructor
ipykernel
ipython
ipywidgets
isoduration
itsdangerous==2.1.2
jedi
Jinja2==3.1.2
jiter
joblib
json5
json_repair
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
kiwisolver
kubernetes
langchain==0.1.0
langchain-community==0.0.13
langchain-core
langchain-text-splitters
langsmith
litellm
lxml
markdown-it-py
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
mpmath
multidict==6.0.4
mypy_extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging==23.2
pandas
pandocfilters
paramiko==3.4.0
parso
pdfminer.six
pdfplumber
pefile
pillow
platformdirs
posthog
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyNaCl
pyparsing
pypdfium2
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-docx
python-dotenv==1.0.0
python-json-logger==2.0.7
pytorch-tabnet
pytube
pytz
pyvis
pywin32
pywin32-ctypes
pywinpty
PyYAML==6.0.1
pyzmq
qtconsole
QtPy
referencing
regex
requests==2.31.0
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
schedule
scikit-learn
scipy
seaborn
Send2Trash
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tab-transformer-pytorch
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tk
tokenizers
toml
tomli
tomli_w
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typer
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions==4.9.0
tzdata
uri-template
uritemplate
urllib3
uv
uvicorn
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug==3.0.1
widgetsnbextension
wrapt
yarl==1.9.4
zipp