aiohappyeyeballs
aiohttp
aiosignal
altair
altgraph
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
auth0-python
Babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
contourpy
crew
crewai
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
distro
docstring_parser
durationpy
einops
et_xmlfile
exceptiongroup
executing
fastapi
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
instaloader
instructor
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
json_repair
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
litellm
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
mpmath
multidict
mypy_extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pandocfilters
paramiko
parso
pdfminer.six
pdfplumber
pefile
pillow
platformdirs
posthog
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyNaCl
pyparsing
pypdfium2
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-docx
python-dotenv
python-json-logger
pytorch-tabnet
pytube
pytz
pyvis
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
schedule
scikit-learn
scipy
seaborn
Send2Trash
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tab-transformer-pytorch
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tk
tokenizers
toml
tomli
tomli_w
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typer
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
uri-template
uritemplate
urllib3
uv
uvicorn
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
yarl
zipp